.cards-tasks{
    background-color: rgba(253, 0, 0, 0.548);
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
h6{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

